            table {
                border-collapse: collapse;
            }
            table {
                border: none;
            }
            th, td {
                border: 1px solid #ccc;
                border-top: none;
                border-bottom: none;
            }
            td {
                padding: 0 1em;
                text-align: center;
            }
            .td00 {
                text-align: left;
            }
            td:first-child {
                padding-left: 0;
                border-left: 0;
            }
            td:last-child {
                padding-right: 0;
                border-right: 0;
            }
            td:nth-child(4) {
                text-align: left;
            }
            tr.new_string td {
                border-top: 1px solid #888;
                background-color: #eee;
                padding-top: 5px;
                padding-bottom: 5px;
            }
